@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
//font-family: 'Ubuntu', sans-serif;

$AppBg: #fffcde;
$AppSecondaryColor: #000;
$defaultFontFamily: 'Ubuntu', sans-serif;


* {
    box-sizing: border-box;
}

a {
    color: inherit;
    font-family: inherit;
}

.App {
    background-color: $AppBg;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: $defaultFontFamily;

    .app-header {
        padding-top: 1px; //margin collapsing fix
        padding: {
            left: 5px;
            right: 5px;
        };

        h1 {
            color: $AppSecondaryColor;
        }
        h3 {
            color: lighten($AppSecondaryColor, 20% )
        }
    }
    
    .app-body {
        padding:40px 10px;
        .notes-grid {
            margin: {
                left:auto;
                right:auto
            }
        
            max-width: 1300px;
            display: grid;
            grid-gap:20px;
            grid-template-columns: repeat(auto-fit, 300px);
            grid-auto-rows: minmax(100px, 300px);
            justify-content: center;
        
            .addNote {
                display: flex;
                justify-content: center;
                align-items: center;
                color: $AppSecondaryColor;
                button {
                    background: none;
                    border: none;
                    outline: none;
                    font-size: 3rem;
                    color:inherit;
                }
            }
        
            .note {
                // height: 350px;
                border:1px solid;
                border-bottom-right-radius: 16px;
                display: flex;
                flex-direction: column;
                &-toolbar {
                    background-color: rgba(256,256,256,0.7);
                    padding: 5px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
            
                    i {
                        font-size: 1.2rem;
                    }
                }
            
                &-body {
                    flex-grow: 1;
                    textarea {
                        width: 97%;
                        height: 95%;
                        background: none;
                        border:none;
                        outline:none;
                        color: inherit;
                        padding: 10px 5px;
                        resize:none;
                        font-size:1rem;
                        font-family:inherit;
                    }
                }
            
                button {
                    background: none;
                    border: none;
                    outline: none;
                }
                
            }
        }
    }

    .app-footer {
        background-color: $AppSecondaryColor;
        color: invert($AppSecondaryColor, 90%);
        a {
            text-decoration: none;
            color: invert($AppSecondaryColor, 90%);
            &:hover {
                color: invert($AppSecondaryColor, 100%);
            }
        }
    }
}


@import "responsive";